<head>

  {% if page.image %}
  <meta content="http://sirwan.info/public/img/{{ page.image }}" property="og:image"> {% else %}
  <meta content="http://sirwan.info/public/avatar.png" property="og:image"> {% endif %} {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url"> {% endif %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="canonical" href="http://sirwan.info{{ page.url | replace:'index.html','' }}" />
  <title>
    {% if page.title %}{{ page.title }} &middot; {% endif %} {{ site.tagline }}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>