<head>

  <meta content="{{ site.title }}" property="og:site_name"> {% if page.title %}
  <meta content="{{ page.title }}" property="og:title"> {% else %}
  <meta content="{{ site.title }}" property="og:title"> {% endif %} {% if page.title %}
  <meta content="article" property="og:type"> {% else %}
  <meta content="website" property="og:type"> {% endif %} {% if page.description %}
  <meta content="{{ page.description }}" property="og:description"> {% else %}
  <meta content="{{ site.description }}" property="og:description"> {% endif %} {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url"> {% endif %} {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/about/" property="article:author"> {% endif %} 
  {% if page.image %}
  <meta content="/img/{{ page.image }}" property="og:image"> 
  {% else %}
  <meta content="avatar.png" property="og:image"> 
  {% endif %} 
  {% if page.categories %} {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section"> {% endfor %} {% endif %} {% if page.tags %} {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag"> {% endfor %} {% endif %}
  <link rel="canonical" href="http://sirwan.info{{ page.url | replace:'index.html','' }}" />
  <title>
    {% if page.title %}{{ page.title }} &middot; {% endif %} {{ site.tagline }}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="/public/css/syntax.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
</head>